<% provide(:title, "About") %>
<!DOCTYPE html>

  <html>
    <head>
      <title><%= yield(:title) %> | Dova Immobilien</title>
    </head>
      <body>

<div class="container_lutz">

  <div class="future" style="background: white; height: auto; margin: 10px;">

    <div class="service">
      <div class="service-image"><%= image_tag("map.jpg", :alt => "rss feed", :height => "95%", :width => "95%", :title => "SERVICE", :class => "message-image") %></div>

        <div class="service-text"><h4>Service</h4>
          <p class="text">Our Warehouse and business facilities are perfectly located to service any business requirements. positioned strategically to reduce costs on logistical requirements whilst maximizing ability to service and expand into all major European markets.</p>
          <h5>Some of the markets we currently service from our strategic location</h5>

          <div class="countries-list">
            <ul class="countries">
              <li>Germany</li>
              <li>France</li>
              <li>Holland</li>
              <li>Belgium</li>
              <li>United Kingdom</li>
            </ul>
            <ul class="countries">
              <li>Switzeland</li>
              <li>Italy</li>
              <li>Austria</li>
              <li>Poland</li>
              <li>Hungrey</li>
            </ul>
          </div>
        </div>
    </div>

    <div class="service">
      <div class="service-image"><%= image_tag("projects.jpg", :alt => "rss feed", :height => "95%", :width => "95%", :title => "PROJECT", :class => "message-image") %></div>

        <div class="service-text"><h4>Projects</h4>
          <p class="text">We are always looking to expand on our current portfolio and whilst our core business is focused on storage and business facilities, our interests stretch beyond with a view on business trends in the years ahead.</p></div>

    </div>

    <div class="service">
      <div class="service-image"><%= image_tag("sun.jpg", :alt => "rss feed", :height => "95%", :width => "95%", :title => "ENVIROMENT", :class => "message-image") %></div>

        <div class="service-text"><h4>Enviroment</h4>
          <p class="text">We are keen supporters of enviromental initiatives with all our storage units equipped with the latest solar technology, providing clean energy to our business interests whilst supporting the community by feeding back into the grid. It is our beleif that our investment into the advancements of renewable energy will return dividends today, tommorow and well into our future.</p>

          <h5>Our renewable energy partner </h5>
          <p>Universal Solar Gmbh<p>
        </div>
    </div>


    <div class="service">
      <div class="service-image"><%= image_tag("history.jpg", :alt => "rss feed", :height => "95%", :width => "95%", :title => "HISTORY", :class => "message-image") %></div>

        <div class="service-text"><h4>Our History</h4>
          <p class="text">A company that has seen rapid growth in recent years due to a strategic vision and disciplined leadership. The first property of the Dova Immobilien portfolio was purchased some 25 years ago and has seen a steady expansion over the years with a primary focus on storage and business facilities. </p></div>

    </div>


    <div class="service">
      <div class="service-image"><%= image_tag("vision.jpg", :alt => "rss feed", :height => "95%", :width => "95%", :title => "VISION", :class => "message-image") %></div>

        <div class="service-text"><h4>Our Vision</h4>
          <p class="text">The future of Dova lies in maintaing a governance of warehousing and storage facilities. We believe with the emergence of the digital age that storage and logistics will play a major role in all industries new and old. The requirement of future trade will be efficiency in all shapes and forms that is may come in.</p></div>

    </div>



    <div class="service">
        <div class="service-image"><%= image_tag("promise.jpg", :alt => "rss feed", :height => "95%", :width => "95%", :title => "PROMISE", :class => "message-image") %></div>

          <div class="service-text">
            <h4>Our Promise</h4>
              <p class="text">Dova's commitment to expansion and meeting the business needs of companies today, tommorow and the years beyond</p></div>

      </div>

    </div>

</div>

      </body>
  </html>
