<h1>Edit Property Page</h1>

<div class="forms">

  <%= simple_form_for @property, :html => { :multipart => true} do |f| %>
    <%= f.select :category_id, @categories %>
    <%= f.input :description, as: :text %>
    <%= f.file_field :property_img %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :country, collection: [ "Germany", "United Kingdom"] %>
    <%= f.input :zimmer %>
    <%= f.input :size %>
    <%= f.button :submit %>
  <% end %>

</div>
