<!DOCTYPE html>
<html>
  <head>

    <title><%= yield(:title) %> | Dova Immobilien </title>
      <%= csrf_meta_tags %>

      <meta name="viewport" content="width=device-width, initial-scale=1">

      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

<div class="container">

  <header>

    <div class="logo"><%= link_to image_tag("dova_logo.svg", :height => '100%', :width => '100%', :alt => "Logo"), root_path %></div>

      <nav class="navbar navbar-default">

          <div class="navbar-header">
            <ul class="nav navbar-nav">
              <li class="tags"><%= link_to "About", static_page_about_path %></li>

              <% Category.all.each do |category| %>
                <li class="tags"><%= link_to category.name, properties_path(category: category.name), class: "link" %>
                </li>

              <% end %>

              <% if admin_signed_in? %>
              <li class="tags"><%= link_to "Sign out", destroy_admin_session_path, method: :delete %></li>

              <% else %>
              <li class="tags"><%= link_to "Sign up", new_admin_registration_path %></li>
              <li class="tags"><%= link_to "Log in", new_admin_session_path %></li>
              <% end %>


              <% if admin_signed_in? %>
              <li class="tags"><%= link_to "Add property", new_property_path %></li>
              <% end %>
            </ul>
          </div>

      </nav>

  </header>

</div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

  <div class="container">
    <%= yield %>
  </div>

<footer>

  <div class="contact-container">

    <div class="logo-footer"><%= link_to image_tag("dova_logo.svg", :height => '100%', :width => '100%', :alt => "Logo", :class => "link-footer"), root_path %></div>


      <div class="contact-text">
        <p class="text">Contact details.</p>
        <p class="email-text">Email: ludwig.fellmann@gmail.com</p>
      </div>

  </div>

</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </body>
</html>
